[tool.poetry]
name = "maurice"
version = "0.1.14"
description = "Ship better machine learning projects, faster!"
authors = ["Tomas Pereira de Vasconcelos <tomasvasconcelos1@gmail.com>"]
homepage = "https://github.com/tpvasconcelos/maurice"
repository = "https://github.com/tpvasconcelos/maurice"
#documentation = "..."
#download_url = "..."

readme = "README.md"


[tool.poetry.dependencies]
python = ">=3.7.1, <4.0.0"
dill = "^0.3.1"
wrapt = "^1.12.1"
numpy = "^1.19.5"
scipy = "^1.6.0"
scikit-learn = { version = "^>=0.23.0, <0.25.0", optional = true }
tensorflow = { version = "^2.4.0", optional = true }
pandas = { version = ">=1.0.0, <2.0.0", optional = true }

[tool.poetry.extras]
sklearn = ["scikit-learn"]
tensorflow = ["tensorflow"]
pandas = ["pandas"]
all = ["scikit-learn", "tensorflow", "pandas"]

[tool.poetry.dev-dependencies]
black = "^20.8b1"
mypy = "^0.790"
matplotlib = "^3.3.3"
ipython = "^7.19.0"
deepdiff = "^5.2.1"
tox = "^3.20.1"
pytest = "^6.2.1"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 119
target-version = ['py37']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | \.git-crypt
    | \.cache
    | \.pytest_cache
    | \.idea
    | \.circleci
    | examples
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''
